[package]
name = "cultiva-client"
version = "0.1.0"
edition = "2024"

[dependencies]
dialoguer = "0.12.0"
rusqlite = { version = "0.38.0", features = ["bundled"] }
rust-i18n = "3.1.5"
sudo = "0.6.0"

[package.metadata.i18n]
available-locales = ["en", "es"]
default-locale = "en"
load-path = "locales"
