[Unit]
Description=IO management for intelligent gardens
After=networking.service

[Service]
Type=exec
ExecStart=/usr/bin/cultiva
Restart=on-failure
RestartSec=120
LoadCredentialEncrypted=CULTIVAJWT:/etc/cultiva/jwt.cred
Environment=JWT=%d/CULTIVAJWT REST_URL=https://cultiva-backend.onrender.com

[Install]
WantedBy=multi-user.target