Package: cultiva
Version: 1.0.0
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: systemd, curl
Maintainer: Leah Castro <leahvcm.01@gmail.com>
Description: Client side application for cultiva greenhouses
